h1{
    background-color: lightseagreen;
    padding: 1%;
    text-align: center;
}

.radio{
    font-size: 150%;
}

h2{
    background-color: darkgray;
    padding: 1%;
    text-align: center;
}

body{
    background-color: lightslategray;
}

button{
    font-size: 140%;
}

p{
    font-size: 130%;
}

th{
    padding: 30px;
    font-size: 100%;
}

td{
    text-align: center;
}

footer{
    padding-top: 20px;
    font-size: 110%;
    
}

.form{
    width: 20%;
    font-size: 150%;
}

input{
    font-size: 100%;
}

.fondo-verde{
    background-color: rgb(47, 248, 33) !important;
}

select{
    font-size: 100%;
}