h1{
    background-color: lightseagreen;
    padding: 1%;
    text-align: center;
}

.radio{
    font-size: 130%;
}

h2{
    background-color: darkgray;
    padding: 1%;
    text-align: center;
}

body{
    background-color: lightslategray;
}

button{
    font-size: 140%;
}

p{
    font-size: 130%;
}


th{
    padding: 30px;
    font-size: 100%;
}

td{
    text-align: center;
}


footer{
    padding-top: 20px;
    font-size: 110%;
    
}


#id{
    width: 12%;
    font-size: 120%;
}

#m2{
    width: 9%;
    font-size: 120%;
}

#ambientes{
    width: 13%;
    font-size: 120%;
}

#precio{
    width: 15%;
    font-size: 120%;
}

#para{
    width: 26%;
    font-size: 130%;
}

.fondo-verde{
    background-color: rgb(47, 248, 33);
}

select{
    font-size: 120%;
}